<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>CMPT 213 Online Hangman Game</title>
</head>
<style>
    span {
    color:Blue;font-size:25px; font-family:'Courier New';
    }
</style>
<body style="text-align: center;">
<p style="color:Red;font-size:50px; font-family:'Courier New';">WELCOME TO THE HANGMAN GAME</p>
<span>ID:</span><span th:text="${game.id}"></span><br/>
<span>Status:</span><span th:text="${game.status}"></span><br/>
<span>Total Guessed:</span><span th:text="${game.totalg}"></span><br/>
<span>Incorrect Guessed:</span><span th:text="${game.incorrectg}"></span><br/>
<!--<span>Word:</span><span th:text="${game.randword}"></span><br/>-->
<span>Guessed Word:</span><span th:text="${game.wordline}"></span><br/>
<br>
<form action="#" th:action="@{/game}" method="post" th:object="${game}"> <input th:field="*{guess}" type="text" maxlength="1"> <button type="submit">Guess</button>></form>
<a href="/welcome">Back To Welcome Page</a>
<!--<form action="#" th:action="@{/hangman}" method="post" th:object="${game}"> <button type="submit">Play game</button> </form>-->
</body>
</html>